trix-toolbar {
  .trix-button {
    @apply btn btn-sm btn-secondary border-none! rounded-sm block py-0 px-3;

    &.trix-active {
      @apply btn-active;
    }

    &:disabled {
      @apply btn-disabled bg-base-100 border-base-100 outline-base-100;

      &::before {
        @apply bg-base-content;
      }
    }
  }

  .trix-button-group {
    @apply border-none;
  }

  &.validate:invalid {
    @apply shadow-md shadow-error;
  }

  .trix-button--icon {
    @apply w-8;

    &::before {
      @apply bg-none! bg-secondary-content;
    }
  }

  .trix-button--icon-attach::before {
    mask: url("~/assets/images/attach.svg") center no-repeat;
  }

  .trix-button--icon-bold::before {
    mask: url("~/assets/images/bold.svg") center no-repeat;
  }

  .trix-button--icon-italic::before {
    mask: url("~/assets/images/italic.svg") center no-repeat;
  }

  .trix-button--icon-link::before {
    mask: url("~/assets/images/link.svg") center no-repeat;
  }

  .trix-button--icon-strike::before {
    mask: url("~/assets/images/strike.svg") center no-repeat;
  }

  .trix-button--icon-quote::before {
    mask: url("~/assets/images/quote.svg") center no-repeat;
  }

  .trix-button--icon-heading-1::before {
    mask: url("~/assets/images/heading_1.svg") center no-repeat;
  }

  .trix-button--icon-code::before {
    mask: url("~/assets/images/code.svg") center no-repeat;
  }

  .trix-button--icon-bullet-list::before {
    mask: url("~/assets/images/bullets.svg") center no-repeat;
  }

  .trix-button--icon-number-list::before {
    mask: url("~/assets/images/numbers.svg") center no-repeat;
  }

  .trix-button--icon-undo::before {
    mask: url("~/assets/images/undo.svg") center no-repeat;
  }

  .trix-button--icon-redo::before {
    mask: url("~/assets/images/redo.svg") center no-repeat;
  }

  .trix-button--icon-decrease-nesting-level::before {
    mask: url("~/assets/images/nesting_level_decrease.svg") center no-repeat;
  }

  .trix-button--icon-increase-nesting-level::before {
    mask: url("~/assets/images/nesting_level_increase.svg") center no-repeat;
  }
}

.trix-dialog {
  @apply bg-base-100! shadow-xl! border! border-base-content/20!;

  & .trix-input {
    @apply input input-sm input-bordered;
  }
}

trix-editor {
  @apply textarea textarea-bordered textarea-md h-auto min-h-[6rem];

  & ul {
    @apply list-disc pl-10;
  }

  & ol {
    @apply list-decimal pl-10;
  }
}

.trix-content {
  & a[href] {
    @apply link link-secondary;
  }

  & pre {
    @apply bg-base-200 text-base-content;
  }

  .attachment__caption {
    @apply text-base-content/60;
  }

  .attachment--preview {
    .attachment__caption {
      @apply text-base-content/60;
    }
  }

  .attachment--file {
    @apply text-base-content/40 border border-base-content/40;
  }

  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      @apply py-0 px-2 max-w-[33%];
      flex: 1 0 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        @apply basis-1/2 max-w-[50%];
      }
    }
  }
}
